<%# TODO: remove inline styles%>
<div data-controller="friends" data-friends-user-id="<%= current_user.id %>">
  <%= form_with(model: friend, data: { controller: "friends" }) do |form| %>
    <% if @friend.errors.any? %>
      <div class="alert alert-danger">
        <h2><%= pluralize(@friend.errors.count, "error") %> prohibited this friend from being saved:</h2>

        <ul>
          <% @friend.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group">
      <div class="d-inline-block col-5">
        <%= form.label :name, required: true %><span style="color: red">*</span>
        <%= form.text_field :name, class: "form-control" %>
      </div>

      <div class="d-inline-block col-5" style="padding-left: 15px;">
        <%= form.label :birthday %>
        <%= form.date_field :birthday, class: "form-control" %>
      </div>
    </div>

    <h1 style="text-align: left;">Gifts</h1>

    <div id="gifts" data-friends-target="gifts">
      <%= form.fields_for :gifts do |gift_field| %>
        <div class="gift-fields">
          <div class="form-group d-inline-block col-3">
            <%= gift_field.label :name, "Description" %><span style="color: red">*</span>
            <%= gift_field.text_field :name, class: "form-control" %>
          </div>

          <div class="form-group d-inline-block col-3" style="padding-left: 5px;">
            <%= gift_field.label :price %>
            <%= gift_field.number_field :price, class: "form-control", step: "0.01" %>
          </div>

          <div class="form-group d-inline-block col-3" style="padding-left: 5px;">
            <%= gift_field.label :link %>
            <%= gift_field.text_field :link, class: "form-control" %>
          </div>

          <div class="col-1 d-inline-block" style="text-align: center;">
            <button type="button" class="btn btn-danger remove-gift" style="width: 60px;" data-action="click->friends#removeGift">X</button>
          </div>
        </div>
      <% end %>
    </div>

    <div style="padding-top: 15px;">
      <%= button_tag "Add Gift", type: "button", class: "btn btn-primary add-gift", data: { action: "click->friends#addGift" } %>
    </div>

    <%= form.hidden_field :friend_id, value: params[:friend_id] %>

    <div class="form-group" style="padding-top: 45px;">
      <%= form.submit "Save", class: "btn btn-primary" %>
    </div>
  <% end %>
</div>