<p style="color: green"><%= notice %></p>

<h1>Friends</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Birthday</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <div id="friends">
      <% @friends.each do |friend| %>
        <tr>
          <td><%= friend.name %></td>
          <td><%= friend.birthday %></td>
            <td>
            <div class="btn-group">
              <%= button_to 'Show', friend, method: :get, class: 'btn btn-primary' %>
              <%= button_to 'Edit', edit_friend_path(friend), method: :get, class: 'btn btn-secondary', style: "margin-left: 15px;" %>
              <%= button_to 'Destroy', friend, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger', style: "margin-left: 15px;" %>
            </div>
            </td>
          </td>
        </tr>
      <% end %>
    </div>
  </tbody>
</table>

<%= link_to "New friend", new_friend_path %>
<br/>
<br/>
<h1>User Actions</h1>

<% if @user.present? %>
  <div class="btn-group">
    <%= link_to "Edit User", edit_user_registration_path, class: 'btn btn-primary' %>
    <%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: 'btn btn-danger', style: "margin-left: 15px;" %>
  </div>
  <br/>
<% else %>
  <div class="btn-group">
    <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-primary' %>
    <%= link_to "Sign In", new_user_session_path, class: 'btn btn-secondary', style: "margin-left: 15px;" %>
  </div>
  <br/>
<% end %>