<p style="color: green"><%= notice %></p>

<h1>Your good friend, <%= @friend.name %></h1>

<p>
  <strong>Birthday:</strong>
  <%= @friend.birthday %>
</p>

<h3>Gifts</h3>
<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th>Link</th>
    </tr>
  </thead>
  <tbody>
    <% if @friend.gifts.any? %>
      <% @friend.gifts.each do |gift| %>
        <tr>
          <td><%= gift.name %></td>
          <td>$<%= gift.price %></td>
          <td class="text-truncate max-width-600"><%= link_to gift.link, gift.link %></td>
        </tr>
      <% end %>
    <% else %>
      <tr>
        <td></td>
        <td>This friend has no gifts yet.</td>
        <td></td>
      </tr>
    <% end %>
  </tbody>
</table>



<div class="btn-group">
  <%= link_to "Edit this friend", edit_friend_path(@friend), class: "btn btn-primary", style: "margin-left: 15px;" %>
  <%= link_to "Back to friends", friends_path, class: "btn btn-secondary", style: "margin-left: 15px;" %>
  <%= button_to "Destroy this friend", @friend, method: :delete, class: "btn btn-danger", style: "margin-left: 15px;", form: {action: @friend} %>
</div>
